In [50]:
import pandas as pd

In [51]:
# Doc file dang csv
data = pd.read_csv('data1.csv')

# Kieu du lieu 
type(data)

pandas.core.frame.DataFrame

In [52]:
# Tra ve n dong dau tien
print(data.head(3))
print("\n")

# Tra ve ten cot
print(data.columns)print("\n")
 
# Tra ve du lieu cot theo ten cot
print(data['Framework'])
print("\n")

# Tra ve ket qua theo chi so bat dau va ket thuc
print(data.iloc[2:5])
print("\n")

SyntaxError: invalid syntax (<ipython-input-52-3e168426d7b9>, line 6)

In [45]:
# Lap qua tung dong bang ham iterrows()
for index, row in data.iterrows():
    print(index, row['Language'])

0 PHP
1 Javascript
2 Javascript
3 Javascript
4 Python
5 Java
6 C#
7 Python

In [53]:
# Hien thi ket qua theo dieu kien
print('Example 1:')
print(data[data['Language'] == 'Javascript'])

print('\nExample 2:')
print(data[(data['Language'] == 'Python') & (data['Framework'] == 'Django') ])
print("\n")
# Mo ta du lieu
# Hien thi tan so, du lieu xuat hien nhieu nhat
data.describe()

# Sap xep du lieu theo cot, ascending=True la sap xep tang dan. False la giam dan
data.sort_values(['Language'], ascending=True)
data.sort_values(['Language'], ascending=False)

# Them cot
data['New Column'] = 'data'
print(data)
print("\n")

# Xoa cot
data = data.drop(columns=['New Column'])
print(data)
print("\n")

Example 1:
   Framework    Language  Test1  Test2
1    Angular  Javascript     12     42
2      React  Javascript    321     15
3  ExpressJS  Javascript      4      5

Example 2:
  Framework Language  Test1  Test2
4    Django   Python      5      9


   Framework    Language  Test1  Test2 New Column
0    Laravel         PHP      2      0       data
1    Angular  Javascript     12     42       data
2      React  Javascript    321     15       data
3  ExpressJS  Javascript      4      5       data
4     Django      Python      5      9       data
5     Spring        Java      6     11       data
6       .Net          C#     87     24       data
7      Flask      Python      2      3       data


   Framework    Language  Test1  Test2
0    Laravel         PHP      2      0
1    Angular  Javascript     12     42
2      React  Javascript    321     15
3  ExpressJS  Javascript      4      5
4     Django      Python      5      9
5     Spring        Java      6     11
6       .Net          C#     87     24
7      Flask      Python      2      3

In [47]:
# Tinh tong nhieu cot. Axis = 1 tinh tong hang ngang. Axis = 0 tinh tong cot doc
data['Total'] = data.iloc[:, -2:].sum(axis=1)
data

   Framework    Language  Test1  Test2  Total
0    Laravel         PHP      2      0      2
1    Angular  Javascript     12     42     54
2      React  Javascript    321     15    336
3  ExpressJS  Javascript      4      5      9
4     Django      Python      5      9     14
5     Spring        Java      6     11     17
6       .Net          C#     87     24    111
7      Flask      Python      2      3      5

In [48]:
# Luu file moi
dt = {
    "Height": [170, 165, 156, 180, 178],
    "Weight": [60, 61, 50, 75, 80]
}

# Chuan bi data frame, to_csv() yeu cai tham so DataFrame
df = pd.DataFrame(dt)
df
df.to_csv('height-data.csv', index=False)